/* PAGE D'ACCUEIL*/
#page_accueil{
    display: flex;
    align-items: center;
}

.accueil_section{
    text-align: center;
}

.accueil_logo h2 {
    text-shadow: 2px 2px 4px rosybrown;
    color: #ededed;
}

.accueil_logo img {
    border-radius: 10px 100px / 120px;
    width: 300px;
    height: 200px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.buttons-container > .outline {
    margin: 5px;
}

button {
    cursor: pointer;
    outline: none;
}

.outline {
    position: relative;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.outline:hover{
    text-decoration: none;
    color: white;
}

.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}

.outline:active {
    border-radius: 22px;
}
