:root {
    --grid-size: 8;
}
#grid {
    display: inline-grid;
    grid-template-rows: repeat(var(--grid-size), 1fr);
    grid-template-columns: repeat(var(--grid-size), 1fr);
    font-family: Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}
.cell {
    padding: 1em;
    margin: 0.4em;
    text-align: center;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-box-shadow: inset -2px -2px 6px 1px #000000;
    -webkit-box-shadow: inset -2px -2px 6px 1px #000000;
    box-shadow: inset -2px -2px 6px 1px #000000;
}

.cell.empty {
    background-color: #fff;
}

.cell.zero {
    background-color: #ffe66d;
}

.cell.one {
    background-color: #ff6b6b;
}

.cell.static {
    background-color: #a8a8a8;
}

@keyframes morph {
    0% { background-color: #FF0000; }
    50% { background-color: #aa1110; }
    100% { background-color: #FF0000; }
}

.cell.wrong {
    margin: 0.1em;
    border: 0.3em solid;
    animation: morph 1s infinite;
}

#actionPartie{
    margin: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#play{
    display: flex;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonsLangues{
    background: transparent;
    border: transparent;
}
.buttonsLangues img{
    height: 30px;
    width: 30px;
    padding: 0;
}

#regles, #actions{
    background: rgba(82, 244, 250, 0.3);
    border-radius: 5%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 1vh;
}

#changerLangue{
    display: flex;
    flex-direction: row;
    align-content: center;
}

#reglesEcrites{
    text-align: left;
}

#actions{
    text-align: center;
}

#timerDiv{
    background: rgba(82, 244, 250, 0.3);
    border-radius: 5%;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#timerDiv > h2{
    max-height: 5vh;
}
