html, body
{
    background: #e0c994;
}

/* PAGE D'ACCUEIL*/
#page_accueil{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;

}

.accueil_section{
    text-align: center;
}
.bouton{
    border: 20px;
    box-shadow: 3px 3px 0px blueviolet inset;
    text-shadow: 2px 2px 4px rosybrown;
    margin: 20px;
    padding: 20px;
}
.bouton a:hover{
    color: brown;
}
.accueil_logo {
    width: 200px;
    height: 200px;
}
.accueil_logo h2 {
    text-shadow: 2px 2px 4px rosybrown;
    color: #ededed;
}
.accueil_logo img {
    border-radius: 10px 100px / 120px;
    width: 150px;
    height: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

button {
    cursor: pointer;
    outline: none;
}

.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

a {
    text-decoration: none;
}

.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
}

.outline:active {
    border-radius: 22px;
}