html, body {
    background: rgb(32,32,32);
    background: linear-gradient(315deg, rgba(32,32,32,1) 0%, rgba(129,110,203,1) 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}



#yuzu {
    width: 10%;
    height: 10%;
}

.navbar-menu > .pages{
    flex-direction: row;
    width: 10%;
    height: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #968663;
    border-radius: 5px;
    box-shadow: 0 0 0.5em #b39d78;
    background-color: transparent;
}

.navbar {
    width: 100%;
    padding: 5px 0;
}


.pages:hover {
    border-color: #5ba0e5;
}

.footer {
    width: 95%;
    text-align: center;
    border: 2px solid #968663;
    margin-left: 2%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 0.5em #b39d78;
}

/*Boutons musique et son*/
.buttons{
    background: transparent;
    border: transparent;
}

button img{
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


/*PopUp*/
#popup-container {
    display: none;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.popup {
    margin: auto;
    display: none; /* Hidden by default */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.popup-content {
    height: min-content;
    min-width: 25vw;
    background-color: #fefefe;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    text-align: center;
}

#popup-container.shown, .popup.shown {
    display: flex;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    padding: 2px 16px;
    background-color: #5ba0e5;
    color: white;
}

.popup-body {
    padding: 2px 16px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.popup-footer {
    padding: 2px 16px;
    background-color: #5ba0e5;
    color: white;
}


/*---ANIMATION---*/
/* Ouvrir la popup */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
